body {
    font-family: 'Roboto', sans-serif;
}

.HeaderWrapper {
    background-image: url(../images/interior-blurred.png);
    background-size: cover;
    color: white;
    font-weight: bold;
    padding: 0% 0% 15%;
}

.NavbarWrapper {
    padding: 0 1rem;
    font-size: 1.25rem;
    min-height: 2.75rem;
    border-radius: 5px;
    
    display: flex;
    align-items: center;
    justify-content: flex-end   ;
}

.NavbarElement {
    text-decoration: none;
    color: white;
    
    
    margin-right: 2rem;
    margin-left: 2rem;
}

.LogoWrapper {
    padding-top: 5%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}