body {
    font-family: 'Roboto', sans-serif;
    background-image: url(https://www.muralswallpaper.com/app/uploads/white-warehouse-brick-plain.jpg);
}

.Wrapperheader {
    background-color: rgb(135,68,42);
    padding: 0 1rem;
    font-size: 1.25rem;
    min-height: 2.75rem;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: flex-end   ;
}

.NavbarElement {
    text-decoration: none;
    color: white;
    

    margin-right: 2rem;
    margin-left: 2rem;
}
